.navbar {
  background-color: green;
  color: white;
  height: 150px;
}

li {
  margin: 60px;
  float: left;
  font-size: 25px;
  list-style: none;
}
.navbar a {
  font-weight: 900;
  color: white;
  text-decoration: navajowhite;
}

li.status{
    margin: auto;
    padding: 0;
    color: red;
  }
